*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}


#site {
  background-color: #db2e2e;
  color: #333333;
  height: 20rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}